body {
  overflow: hidden;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.decBtn {
  height: 56px;
  width: 60px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: 1px solid #b24242;
  border-left: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
  border-right: none;
  background-color: #ffffff;
  color: #b24242;
}

.incBtn {
  height: 56px;
  width: 60px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #b24242;
  border-right: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
  border-left: none;
  background-color: #b24242;
  color: #ffffff;
}

#counterInput {
  height: 52px;
  width: 60px;
  text-align: center;
  color: #b24242;
  border: 1px solid #b24242;
  background-color: #fbe8e8;
  outline-style: none;
}
